<!DOCTYPE html>
<html lang="en">


<!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/product-list/asset/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/product-list/asset/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/product-list/asset/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/product-list/asset/images/icons/site.html">
    <link rel="mask-icon" href="/product-list/asset/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/product-list/asset/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/product-list/asset/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/product-list/asset/css/style.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/product-list/asset/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/product-list/asset/css/extra.css">

  <style>
    body {
      padding: 20px;
    }
    .profile-card {
        
      max-width: 400px;
      margin: 0 auto;
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .profile-icon {
      font-size: 100px;
      text-align: center;
      margin-bottom: 20px;
    }
    .profile-icon span {
      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #e9ecef;
      color: #6c757d;
      line-height: 100px;
      font-size: 48px;
    }
    .profile-card h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    .profile-card p {
      font-size: 16px;
      color: #6c757d;
      margin-bottom: 20px;
    }
    .profile-card .btn {
      display: block;
      width: 100%;
    }
  </style>


</head>

<body>
     
            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo" style="margin-top: 4.55rem;">
                            <img src="/frontHome/assets/img/logo 4.png" alt="" width="105" height="25">
                        </a>

                        <nav class="main-nav" style="margin-left: 51rem;">
                            <ul class="menu sf-arrows">
                                <li class="">
                                    <a href="/" class="">Home</a>

                            
                                </li>
                                <li>
                                    <a href="/products" class="">Shop</a>

                                    
                                </li>
                                <li>
                                    <a href="/products" class="">Product</a>

                                    
                                </li>
                                <li >
                                    <a href="/cart" class="">Cart</a>

                                    
                                </li>
                                 <li  class="megamenu-container active">
                                    <a href="/orders" class="">Orders</a>

                                    
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/product-list/asset/images/products/cart/product-1.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x $76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="product.html" class="product-image">
                                                <img src="/product-list/asset/images/products/cart/product-2.jpg" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">$160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <!--MAIN CONTENT STARTED-->

  <div class="profile-card" style="margin-top: 6rem; background: linear-gradient(to bottom right, #cc2b5e, #753a88);">
    <div class="profile-icon">
      <span id="profile-initial" style="background-color: #ffffff;"></span>
    </div>
    <h2 id="user-name" style="color: white;">{{user.username}}</h2>
    <p style="color: white;">Email: {{user.email}}</p>
    {{#if isVerified}}
    <p style="color: #cdb7b7;">Verified User</p>
    {{else}}
    <p style="color: #cdb7b7;">Not Verified User</p>
    {{/if}}
    <a href="/logout" class="btn btn-primary">Log Out</a>
</div>

{{!-- 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> --}}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var userName = '{{user.username}}'; // Replace with dynamic user name

      var profileInitial = document.getElementById('profile-initial');
      profileInitial.textContent = userName.charAt(0).toUpperCase();

      var displayName = document.getElementById('user-name');
      displayName.textContent = userName;
    });
  </script>