<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Verify Email</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="/stylesheets/login.css" type="text/css" media="all" />
</head>

<body>
	<!-- signup form -->
	<section class="w3l-signup-form">
		<div id="form-section">
			<div class="wrapper">

				<!-- logo -->
				<div class="logo">
					<a class="brand-logo" href="">Verification invalid <br> <span style="color: rgb(37, 226, 255);">Try Again</span> </a>
				</div>
				
				<!-- //logo -->


				<!-- copyright -->
				<div class="copy-right">
					<p>&copy; 2023 All rights reserved | Design by <a href="" target="_blank">MedX India</a></p>
				</div>
				<!-- //copyright -->

			</div>
		</div>
	</section>
	<script src="/smtp.js"></script>
	<button onclick="sendEmail()">SEND EMAIL</button>
	<!-- /signup form -->
</body>

</html>