 /* Custom Alert */
 .custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .custom-alert-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .custom-alert-message {
    font-size: 16px;
    margin-right: 10px;
  }

  .custom-alert-close {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Custom Confirm */
  .custom-confirm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .custom-confirm-content {
    margin-bottom: 10px;
  }

  .custom-confirm-message {
    font-size: 16px;
  }

  .custom-confirm-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .custom-confirm-yes,
  .custom-confirm-no {
    font-size: 16px;
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  