
<!doctype html>
<html lang="en">

<head>

    <title>MedX India</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="/stylesheets/bootstrap.css">
      
    <link rel="stylesheet" href="/stylesheets/style.css" >
    
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
   
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
        rel="stylesheet">
    <!---ADMIN HELPER LINKS-->
      <link
      rel="stylesheet"
      href="/stylesheets/assets/vendors/mdi/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/assets/vendors/css/vendor.bundle.base.css"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      href="/stylesheets/assets/vendors/jvectormap/jquery-jvectormap.css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/assets/vendors/flag-icon-css/css/flag-icon.min.css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/assets/vendors/owl-carousel-2/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/assets/vendors/owl-carousel-2/owl.theme.default.min.css"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
   

    <!-- Layout styles -->
    <link rel="stylesheet" href="/stylesheets/assets/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/stylesheets/assets/images/favicon.png" />

    {{!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> --}}
  <!---datatables--->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

  <!--image view file-->
  <link rel="icon" type="image/x-icon" href="/stylesheets/imageview/assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {{!-- <link href="/imageview/css/styles.css" rel="stylesheet" /> --}}
{{!--         
  <!--FRONT PAGE LINKS-->
 
   <link rel="apple-touch-icon" sizes="180x180" href="/frontHome/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/frontHome/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/frontHome/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/frontHome/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/frontHome/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/frontHome/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <link href="/frontHome/assets/css/theme.css" rel="stylesheet" /> --}}

    <!--PRODUCT LIST PAGE LINKS-->

   <!-- Favicon -->
    {{!-- <link rel="apple-touch-icon" sizes="180x180" href="/product-list/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/product-list/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/product-list/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/product-list/assets/images/icons/site.html">
    <link rel="mask-icon" href="/product-list/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/product-list/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff"> --}}
    <!-- Plugins CSS File -->
    {{!-- <link rel="stylesheet" href="/product-list/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/product-list/assets/css/style.css">
    <link rel="stylesheet" href="/product-list/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/product-list/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/product-list/assets/css/plugins/nouislider/nouislider.css"> --}}

  <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.css">
  <script src="https://unpkg.com/cropperjs/dist/cropper.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.css">
  <script src="https://cdn.jsdelivr.net/npm/cropperjs/dist/cropper.js"></script>

</head>
 {{#if admin}}

 {{else if user}}
 {{!-- {{>user-header}} --}}

 {{/if}}
 
{{{body}}}

 
 





  
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

   {{!-- <script src="public/javascripts/script.js"></script> --}}

 {{!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> --}}


    
        <!--  ADMIN HOME HELPER LINKS-->

         <!-- plugins:js -->
    <script src="/stylesheets/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/stylesheets/assets/vendors/chart.js/Chart.min.js"></script>
    <script
      src="/stylesheets/assets/vendors/progressbar.js/progressbar.min.js"
    ></script>
    <script
      src="/stylesheets/assets/vendors/jvectormap/jquery-jvectormap.min.js"
    ></script>
    <script
      src="/stylesheets/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"
    ></script>
    <script
      src="/stylesheets/assets/vendors/owl-carousel-2/owl.carousel.min.js"
    ></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/stylesheets/assets/js/off-canvas.js"></script>
    <script src="/stylesheets/assets/js/hoverable-collapse.js"></script>
    <script src="/stylesheets/assets/js/misc.js"></script>
    <script src="/stylesheets/assets/js/settings.js"></script>
    <script src="/stylesheets/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/stylesheets/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
   <!--image view link-->
    <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        {{!-- <script src="/stylesheets/imageview/js/scripts.js"></script> --}}

   

</body>

</html>